<% include ../header %>
<header>
    <h2>Ntalk - Agenda de contatos</h2>
</header>
<selection>
    <p>Bem vindo <%- usuario.nome %></p>
</selection>
<% include ../exit %>

<selection>
    <a href='/sair'>Sair</a>
</selection>

<% include ../footer %>